<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <div class="d-flex justify-content-center">
    <mat-card >
      <mat-card-title class="text-center">
        <h3>Login</h3>
      </mat-card-title>
      <mat-card-content>
      <div >
        <div>
          <mat-form-field class="w-100">
            <mat-label>Enter your Username</mat-label>
            <input matInput error  name="name" #name="ngModel" [(ngModel)]="loginReq.name" required>
            <mat-error *ngIf="name.hasError('required')">
              Username is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput [(ngModel)]="loginReq.password" name="password" #password="ngModel" [type]="hidePassword ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      </mat-card-content>
      <mat-card-actions [align]="'start'">
        <button mat-raised-button color="primary">Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
